<div class="form-group string shipment_discount">
  <label class="string control-label" for="shipment_discount">Discount</label>
  <%= f.text_field :discount, :class => 'input-sm form-control', required: false  %>
</div>
<div class="form-group string shipment_origin_agent">
  <label class="string control-label" for="shipment_origin_agent">Origin Agent</label>
  <%= f.text_field :origin_agent, :class => 'input-sm form-control', required: false  %>
</div>
<div class="form-group string shipment_dest_agent">
  <label class="string control-label" for="shipment_dest_agent">Dest Agent</label>
  <%= f.text_field :dest_agent, :class => 'input-sm form-control', required: false  %>
</div>
<div class="form-group string shipment_hauler">
  <label class="string control-label" for="shipment_hauler">Hauler</label>
  <%= f.text_field :hauler, :class => 'input-sm form-control', required: false  %>
</div>
<div class="form-group string shipment_surveyor">
  <label class="string control-label" for="shipment_surveyor">Surveyor</label>
  <%= f.text_field :surveyor, :class => 'input-sm form-control', required: false  %>
</div>
<div class="form-group string shipment_booker">
  <label class="string control-label" for="shipment_booker">Booker</label>
  <%= f.text_field :booker, :class => 'input-sm form-control', required: false  %>
</div>
