<div class="col-md-12">
  <table>
    <tr>
      <td colspan="3"><%= f.input :d_name, :input_html => { :class => "input-sm" }, :label => "Name"  %></td>
    </tr>
    <tr>
      <td colspan="3"><%= f.input :d_address, :input_html => { :class => "input-sm" }, :label => "Address"  %></td>
    </tr>
    <tr>
      <td><%= f.input :d_city, :input_html => { :class => "input-sm" }, :label => "City"  %></td>
      <td><%= f.input :d_state, :input_html => { :class => "input-sm" }, :label => "State"  %></td>
      <td><%= f.input :d_zip, :input_html => { :class => "input-sm" }, :label => "Zip"  %></td>
    </tr>
    <tr>
      <td colspan="3"><%= f.input :d_phone, :input_html => { :class => "input-sm" }, :label => "Phone"  %></td>
    </tr>
    <tr>
      <td colspan="3"><%= f.input :d_cell, :input_html => { :class => "input-sm" }, :label => "Cell"  %></td>
    </tr>
    <tr>
      <td colspan="3"><%= f.input :d_notes, :input_html => { :class => "input-sm" }, :label => "Notes"  %></td>
    </tr>
  </table>
</div>