<div class="col-md-8 col-md-offset-2">
  <%= f.input :name, :input_html => { :class => "input-sm" } %>
  <%= f.input :address, :input_html => { :class => "input-sm" } %>
  <%= f.input :city, :input_html => { :class => "input-sm" } %>
  <%= f.input :state, :input_html => { :class => "input-sm" } %>
  <%= f.input :zip, :input_html => { :class => "input-sm" } %>
  <%= f.input :phone, :input_html => { :class => "input-sm" } %>
  <%= f.input :cell, :input_html => { :class => "input-sm" } %>
  <%= f.input :notes, :input_html => { :class => "input-sm" } %>
</div>