<div class="col-lg-1">
</div>
<div class="col-lg-10">
  <div class="well bs-component">
<p id="notice"><%= notice %></p>
    <h1 class="pull-left">Shipments</h1>

    <div class="pull-right" style="margin-top: 30px; padding-right: 20px;">
      <%= form_tag shipment_search_shipments_path, :remote => true, :method => 'get' do %>
          <p>
            <%= text_field_tag :search_term, params[:search_term], :class => "search-field" %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= submit_tag "Search", :name => nil, :class => "btn btn-default" %>
          </p>
      <% end %>
    </div>
<%= render :partial => 'shipments/partials/shipments_partial' %>

<br>

<%= link_to 'New Shipment', new_shipment_path %>
</div>

</div>
<div class="col-lg-2">
</div>