<p id="notice"><%= notice %></p>

<p>
  <strong>Wieght:</strong>
  <%= @shipment.wieght %>
</p>

<p>
  <strong>Pack date:</strong>
  <%= @shipment.pack_date %>
</p>

<p>
  <strong>Pick date:</strong>
  <%= @shipment.pick_date %>
</p>

<p>
  <strong>Deliver date:</strong>
  <%= @shipment.deliver_date %>
</p>

<p>
  <strong>Company:</strong>
  <%= @shipment.company_id %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @shipment.discount %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @shipment.notes %>
</p>

<p>
  <strong>User:</strong>
  <%= @shipment.user_id %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @shipment.origin_id %>
</p>

<p>
  <strong>Dest:</strong>
  <%= @shipment.dest_id %>
</p>

<p>
  <strong>Origin agent:</strong>
  <%= @shipment.origin_agent %>
</p>

<p>
  <strong>Dest agent:</strong>
  <%= @shipment.dest_agent %>
</p>

<p>
  <strong>Carrier:</strong>
  <%= @shipment.carrier %>
</p>

<p>
  <strong>Reg no:</strong>
  <%= @shipment.reg_no %>
</p>

<p>
  <strong>Atlas no:</strong>
  <%= @shipment.atlas_no %>
</p>

<p>
  <strong>Gbl no:</strong>
  <%= @shipment.gbl_no %>
</p>

<p>
  <strong>Move type:</strong>
  <%= @shipment.move_type %>
</p>

<p>
  <strong>Miles:</strong>
  <%= @shipment.miles %>
</p>

<p>
  <strong>Survey date:</strong>
  <%= @shipment.survey_date %>
</p>

<p>
  <strong>Hauler:</strong>
  <%= @shipment.hauler %>
</p>

<p>
  <strong>Surveyor:</strong>
  <%= @shipment.surveyor %>
</p>

<p>
  <strong>Booker:</strong>
  <%= @shipment.booker %>
</p>

<p>
  <strong>Apu:</strong>
  <%= @shipment.apu %>
</p>

<%= link_to 'Edit', edit_shipment_path(@shipment) %> |
<%= link_to 'Back', shipments_path %>
